// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $light-gray !important;
}

.container.header {
  background: $light-gray;

  img {
    max-width: 150px;
  }
}

.body-drip {
  // border-radius: 4px;
  // border-top: 3px solid $primary-color;
  // border-bottom: 1px solid $medium-gray;
  // border-right: 1px solid $medium-gray;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.issue-title-link {
  font-size: 18px;
}

// Full Width Headers
.header {
  background: $dark-gray;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: $white;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Social Media
table.button.facebook table td {
  background: #3b5998 !important;
  border-color: #3b5998;
}

table.button.twitter table td {
  background: #1daced !important;
  border-color: #1daced;
}

table.button.google table td {
  background: #db4a39 !important;
  border-color: #db4a39;
}

.wrapper.secondary {
  background: #fafafa;
}
