---
subject: "Please Confirm Your Email Address"
user_display: "{{ user_display }}"
activate_url: "{{ activate_url }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>Verify Your GlitchTip Account Email</h4>

      <spacer size="16"></spacer>

      <button href="{{ activate_url }}" class="primary">
        Confirm Email Address
      </button>

      <spacer size="16"></spacer>

      <p>
        If you received this in error, delete it. Your email address won't be
        confirmed if you don't click the link.
      </p>

    </columns>
  </row>

</container>

