---
subject: "Error in {{ project_name }}: {{ issue_title }}"
# issue_title: "*errors.errorString: Unique error!"
# project_name: "Anakin"
# issue_time: "May 1, 2020 at 9:23:51 AM GMT-4"
# issue_link: "https://bing.com"
# project_notification_settings_link: "https://bing.com"
issue_title: "{{ issue_title }}"
project_name: "{{ project_name }}"
# issue_time: "{{ issue_time }}"
issue_link: "{{ issue_link }}"
project_notification_settings_link: "{{ project_notification_settings_link }}"
---

<!--{% load static %}-->

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>Error: {{ issue_title }}</h4>
      <p>Project: {{ project_name }}</p>
      <spacer size="16"></spacer>
      <button href="{{ issue_link }}" class="primary">View on GlitchTip</button>
    </columns>
  </row>

  <row class="collapsed footer">
    <columns>
      <spacer size="16"></spacer>
      <p class="text-center"><a href="{{ project_notification_settings_link }}">Manage Email Notifications</a></p>
    </columns>
  </row>

</container>
