---
subject: "Met event quota for {{ organization_name }}"
organization_name: "{{ organization_name }}"
event_limit: "{{ event_limit }}"
subscription_link: "{{ subscription_link }}"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>You have reached your event quota</h4>
      <p>Organization: {{ organization_name }}</p>
      <p>
        Your plan allows for {{ event_limit }} events per month, and your
        projects have exceeded that limit.
      </p>
      <p>
        You will no longer receive events until the monthly cycle resets, or
        you upgrade your plan.
      </p>
      <spacer size="16"></spacer>
      <button href="{{ subscription_link }}" class="primary">Manage Subscription</button>
    </columns>
  </row>

</container>
