---
subject: "Password Reset For Your GlitchTip Account"
---

<spacer size="16"></spacer>

<container class="header">
  <row class="collapse">
    <columns>
      <img src="{% get_domain %}{% static 'images/logo.png' %}" alt="" width="150" height="37">
    </columns>
  </row>
</container>

<spacer size="16"></spacer>

<container class="body-drip">

  <spacer size="16"></spacer>
  
  <row>
    <columns>
      <h4>Password Reset For Your GlitchTip Account</h4>

      <spacer size="16"></spacer>

      <button href="{% get_domain %}{% url 'password_reset_confirm' uidb64=uid token=token %}" class="primary">
        Set New Password
      </button>

      <spacer size="16"></spacer>

      <p>
        You're receiving this email because you requested a password reset for
        your GlitchTip user account.
      </p>

      <p>
        If you received this email in error, delete it. Your password won't be
        changed if you don't click the link.
      </p>

    </columns>
  </row>

</container>

